---
layout: base.njk
title: ""
---
<section class="home-cover">
  {% if site.home_hero and site.home_hero.image %}
  <img class="home-cover-bg" src="{{ site.home_hero.image }}" alt="{{ site.home_hero.heading or site.name }}">
  {% endif %}
  <div class="home-cover-overlay"></div>
  <div class="home-cover-content">
    {% if site.home_hero and site.home_hero.heading %}
    <p class="home-cover-title">{{ site.home_hero.heading }}</p>
    {% endif %}
    {% if site.home_hero and site.home_hero.subheading %}
    <p class="home-cover-sub">{{ site.home_hero.subheading }}</p>
    {% endif %}
    <a class="home-cover-cta" href="/exposicoes/">{{ (site.home_hero.cta_label if site.home_hero) or "Ver exposições" }}</a>
  </div>
</section>
