---
layout: base.njk
title: "Sobre"
---
<section class="page-section page-sobre">
  <header class="page-header">
    <h1 class="page-title">Sobre</h1>
  </header>
  <div class="sobre-body">
    {{ site.about | safe }}
  </div>
</section>
